@charset "utf-8";

body {
  background-color: yellow;
}
.basecolor {
  color: blue;
}
.largesize{
  font-size: 24px; 
}
.italic{
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}